* {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  /* background-color: #081b31; */
  color: black;
  height: 5rem;
/* line-height will take the content in middle according to the whole height */
  line-height: 5rem;
}

.choice {
  height: 205px;
  width: 205px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .choice:hover {

  cursor: pointer;
  background-color: #081b31;
} */

/* i added the border with the help of img and div (where i used border radius but as div is bigger so its looks a border */

/* img { */
  /* object-fit will help me to adjust the photos */
  /* height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
} */

.choices {
  /* gap */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}



.msg-container {
  margin-top: 5rem;
}

#msg {
  background-color: #081b31;
  color: white;
  font-size: 1rem;
  /* display inline helps me to take only area of text ,not the full line */
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}